
<footer class="z-10">
  <div class="footer-inner">
    <p id="last"></p>
    <p class="footer-bottom-links"><a href="/sign-up" class="footer-bottom-link">Sign Up</a>
      <a href="/contact-us" class="footer-bottom-link">Contact Us</a>
      <a href="/project-login" class="footer-bottom-link">Project Login</a>
      <a href="/privacy-policy" class="footer-bottom-link">Privacy Policy</a> <span class="copyright">Copyright DAI. All Rights Reserved.</span> </p>
    {% include 'footer-nav.liquid' %}
    <div class="footer-bottom">
      <svg class="logo--footer footer-flat--logo" viewBox="0 0 982 245" preserveAspectRatio="xMinYMax meet"><use xlink:href="#flater-logo"></use></svg><span class="trademarked">&reg; </span>
    </div>
    <p></p>
    <p class="legaleeze">DAI is an equal opportunity/affirmative action employer with a commitment to diversity. All qualified applicants will receive consideration for employment without regard to race, color, religion, sex, sexual orientation, gender identity or national origin. <a href="/eeo">Related Resources</a></p>
  </div>
  <script src="https://cdn.plyr.io/3.7.8/plyr.js"></script>
  <script>
    const player = new Plyr('#player', {});
  </script>
</footer>
