@tailwind base;
@tailwind components;
@tailwind utilities;

.base-container{
  color: #404d59;
}
.blogs-header{
  background-image: url(/assets/images/large-wallpaper-white.jpg);
  background-position: center;
}
.devs-banner, .digital-banner{
  background-image: url('/assets/images/developments-banner.jpg');
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
}
.digital-banner{
  background-image: url('/assets/images/digital-banner.jpg');
  background-position: left;
  background-size: cover;
}
.post-body{
  color: #404d59;
}
.prose a{
  color: #1e7ab3;
  font-weight: bold;
  text-decoration: underline;
}
.prose a:hover{
  text-decoration: none;
  @apply brightness-75
}
.prose figcaption{
  font-size: .8rem;
  @apply p-4 bg-daiLightGray mt-0 text-center
}
.prose figure img{
  @apply w-full
}
.prose .kg-width-full{
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.prose blockquote{
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  @apply p-16 bg-daiLightGray
}
.prose blockquote:after{
  content: "";
  position: absolute;
  background-image: url(/assets/images/quote.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  top: 20px;
  left: 20px;
  @apply h-6 w-6 md:h-8 md:w-8 lg:w-10 lg:h-10
}
/* Ripple effect */
.daiButtons {
  background-position: center;
  transition: background 0.4s, box-shadow 0.2s;
  border: none;
  border-radius: 4px;
  padding: 12px 18px;
  font-size: 16px;
  cursor: pointer;
  color: white;
  background-color: #1e7ab3;
  box-shadow: 0 0 4px #999;
  outline: none;
  margin-right: 1rem;
}
.daiButtons:hover{
  background: #644C85 radial-gradient(circle, transparent 1%, #644C85 1%) center/15000%;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),0px 4px 5px 0px rgba(0, 0, 0, 0.14),0px 1px 10px 0px rgba(0,0,0,.12);
}

/* SEARCH BOX */
.aa-input-icon {
  height: 16px;
  width: 16px;
  position: absolute;
  top: 50%;
  right: 1px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  fill: #e4e4e4; }
.aa-dropdown-menu {
  background-color: #fff;
  border: 1px solid rgba(228, 228, 228, 0.6);
  min-width: 300px;
  margin-top: 10px;
  box-sizing: border-box; 
  -moz-box-shadow:    0px 0px 5px 1px rgba(#d3e3f0, 0.35);
  -webkit-box-shadow: 0px 0px 5px 1px rgba(#d3e3f0, 0.35);
  box-shadow:         0px 0px 5px 1px rgba(#d3e3f0, 0.35);
}
.blog-search span.algolia-autocomplete{
  display: block !important;
}
.aa-input-search::-webkit-search-decoration, .aa-input-search::-webkit-search-cancel-button, .aa-input-search::-webkit-search-results-button, .aa-input-search::-webkit-search-results-decoration {
  display: none; 
}
.aa-dropdown-menu {
  background-color: rgba(255, 255, 255, 0.6); ;
  border: 1px solid rgba(228, 228, 228, 0.6); 
  border-radius: 4px;
  padding: 10px;
  margin-top: 10px;
  box-sizing: border-box; 
  -moz-box-shadow:    0px 0px 5px 1px rgba(black, 0.35);
  -webkit-box-shadow: 0px 0px 5px 1px rgba(black, 0.35);
  box-shadow:         0px 0px 5px 1px rgba(black, 0.35);
}
.aa-suggestion{
  padding: 6px 4px;
  border-bottom: 1px dashed #e4e5e6;
  border-radius: 4px;
}
.aa-suggestion.aa-cursor{
  background-color: rgba(30, 122, 179, .1);
}
.aa-suggestion+.aa-cursor{
  background-color: rgba(30, 122, 179, .1);
}
.ais-Highlight{
  font-weight: bold;
}
/* // SEARCH ALGOLIA
.aa-input-container, input.aa-input-search{
  width:92%;
  @include responsive(tinyish-screens){
    width: 93%;
  }
  @include responsive(small-screens){
    width: 95%;
  }
  @include responsive(wide-screens){
    width: 92%;
  }
}
.aa-dropdown-menu{
  width: 92%;
  @include responsive(tinyish-screens){
    width: 93%;
  }
  @include responsive(small-screens){
    width: 95%;
  }
  @include responsive(wide-screens){
    width: 110%;
  }
}
.aa-input-container {
  display: block;
  position: relative; 
}
span.algolia-autocomplete{
  display: block !important;
}
.aa-input-search {
  // width: 300px;
  border: 1px solid rgba(228, 228, 228, 0.6);
  padding: 9px 28px 9px 12px;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; 
}
  .aa-input-search::-webkit-search-decoration, .aa-input-search::-webkit-search-cancel-button, .aa-input-search::-webkit-search-results-button, .aa-input-search::-webkit-search-results-decoration {
    display: none; 
  }
  .aa-input-search{
    outline: none;
  }
.aa-input-icon {
  height: 16px;
  width: 16px;
  position: absolute;
  top: 50%;
  right: 1px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  fill: #e4e4e4; }
.aa-dropdown-menu {
  background-color: #fff;
  border: 1px solid rgba(228, 228, 228, 0.6);
  // min-width: 300px;
  margin-top: 10px;
  box-sizing: border-box; 
  -moz-box-shadow:    0px 0px 5px 1px rgba($blue, 0.35);
  -webkit-box-shadow: 0px 0px 5px 1px rgba($blue, 0.35);
  box-shadow:         0px 0px 5px 1px rgba($blue, 0.35);
}
.aa-suggestion {
  padding: 12px;
  cursor: pointer;
}
.aa-suggestion + .aa-suggestion {
    border-top: 3px solid rgba(228, 228, 228, 0.6);
}
.aa-suggestion:hover, .aa-suggestion.aa-cursor {
    background-color: rgba(241, 241, 241, 0.35); }
.algolia__result-highlight{
  font-weight: bold;
}
.aa-suggestion.aa-cursor{
  background-color: rgba($blue, 0.1);
}
.aa-suggestion+.aa-cursor{
  background-color: rgba($blue, 0.1);
  border-top: 3px solid $blue;
}
 */