<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  {% include 'iehacks.liquid' %}
  {% include 'head.liquid' %}
  <body class="" >
    <div class="wrapper">
      {% include 'header.liquid' %}
          {{ content }}
    </div>
      {% include'footer.liquid' %}
    </div>
  </body> 

</html>