---
layout: base.liquid
description: A starting place for building websites with eleventy, tailwind, and alpine.
---

<ul>
  {%- for post in ghost.posts -%}
  <li><a href="/articles/{{ post.slug }}/index.html">{{ post.title }}</a></li>
  {%- endfor -%}
</ul>