---
permalink: practiceofpartnership-podcast.html
layout: base.liquid
description: Podcast Index Page
title: Practice of Partnership Podcast
---
<script src="https://kit.fontawesome.com/a7a8a2a44a.js" crossorigin="anonymous"></script>
<div class="base-container mt-[65px] lg:mt-[128px]">
  <!-- BLOGS HEADER -->
  <div class="blogs-header practice-partnership">
    <div class="pb-6">
      <div class="mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:px-8 lg:flex lg:justify-evenly items-center">
        <div class="max-w-xl pr-4" style="width: 100%;">
          <img src="/assets/images/practice-of-partnerships-logomark.svg" alt="" style="height: 250px;">
        </div>
        <div class="mt-16 w-full max-w-xs">
          <div class="mt-1.5 relative blog-search">
            <div>
              <div class="mt-1 w-full">
                <p class="mt-5 text-2xl text-daiDark italic">We can't do development without the power of local.</p>
              </div>
            </div>
          </div>
        </div> 
      </div>
    </div>
  </div>
  <!-- END Podcast HEADER -->
  {%- comment -%} Podcast Buttons {%- endcomment -%}
  <div class="mx-auto  sm:px-6 lg:px-8 bg-[#557D91] py-8 grid place-items-center">
      <span class="isolate inline-flex rounded-md shadow-sm">
        <button onclick="window.open('https://feeds.soundcloud.com/users/soundcloud:users:1167420997/sounds.rss')" type="button" class="relative inline-flex items-center rounded-l-[4px] border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-daiLinks hover:bg-gray-50 focus:z-10 focus:border-daiGray02 focus:outline-none focus:ring-1 focus:ring-daiGray02"><i class="fa-solid fa-rss w-4 h4 mr-1 mb-[0.15rem]"></i> RSS</button>
        <button onclick="window.open('https://podcasts.apple.com/us/podcast/practice-of-partnership/id1691100695')" type="button" class="relative -ml-px inline-flex items-center border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-daiLinks hover:bg-gray-50 focus:z-10 focus:border-daiGray02 focus:outline-none focus:ring-1 focus:ring-daiGray02"><i class="fa-brands fa-apple w-4 h4 mr-1 mb-[0.15rem]"></i> Apple</button>
        <button onclick="window.open('https://open.spotify.com/show/6o64ScNzsENUJBwx7hqvnX')" type="button" class="relative -ml-px inline-flex items-center border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-daiLinks hover:bg-gray-50 focus:z-10 focus:border-daiGray02 focus:outline-none focus:ring-1 focus:ring-daiGray02"><i class="fa-brands fa-spotify w-4 h4 mr-1 mb-[0.15rem]"></i> Spotify</button>
        <button onclick="window.open('https://www.stitcher.com/show/1071846')" type="button" class="relative -ml-px inline-flex items-center rounded-r-[4px] border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-daiLinks hover:bg-gray-50 focus:z-10 focus:border-daiGray02 focus:outline-none focus:ring-1 focus:ring-daiGray02"><i class="fa-solid fa-podcast w-4 h4mb-[0.15rem]" top-1></i> Stitcher</button>
      </span>
  </div>
<div class="bg-[#F7F7F7] ">
  <div class="max-w-4xl mx-auto py-8 sm:py-24">
    <div class="container max-w-4xl">
      <p><strong>The Practice of Partnership</strong> is a podcast about how local engagement is the cornerstone of sustainable, high-impact development. Development is inherently local and collaborative – local leadership and participation are essential. In this series, we explore the key ingredients of successful local partnerships, and most importantly hear from local partners themselves about how the relationships they have forged have helped to drive economic growth and development. As the old African proverb says, if you want to go far, go together.</p>
    </div>
  </div>
</div>
<!-- PODCAST ONE -->
<div class="bg-daiLightGray">
  <div class="max-w-7xl mx-auto py-16 sm:py-24">
  <div class="back-box border-[16px] border-white h-[400px] xl:h-[650px] w-[60%] z-0 absolute ml-10">
      <h2 class="mt-10 ml-8 text-4xl uppercase"><span class="font-bold">Season 01</span> <span class="font-normal">Episodes</span></h2>
      <hr class="daiBar ml-8 border-y-4 w-14 border-daiDark">
      <p class="mt-2 ml-8">Please listen to the episodes in order.</p>
  </div>
    <div class="mt-52 sm:mt-40">
      <div class="grid grid-cols-2 gap-0 max-w-7xl mx-auto ">
        <div class="bg-[#557D91] z-10">
          <div class="">
            <h3 class="text-2xl uppercase text-white pl-3 sm:pl-4 md:pl-6 py-6 mb-0">
              EPISODE #1
            </h3>
            <!-- PODCAST PREVIEW -->
            <div class="post-preview bg-white p-8">
              <h2 class="text-3xl">Partnerships matter for growth</h2>
              <hr class="daiBar border-y-4 w-14 mb-4 border-daiDark">
              <p class="mb-8">Why do effective partnerships between development agencies and local entities matter? Because they offer a rich source of innovation, a credible pathway for sustainable change, and the ability to implement solutions at scale.</p>
              
              <button onclick="Turbo.visit('/practiceofpartnership-season-1/episode-1')" type="button" class="daiButtons my-8 inline-flex items-center px-6 py-3 border border-transparent text-base font-medium rounded-md shadow-sm text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Listen & Show Notes</button>
            </div>
          </div>
        </div>
        <div class="z-10">
          {% assign default-feature = '/assets/images/default-feature.png' %}
          <div class="container h-full practice-episode-header" style="background-repeat: no-repeat; background-position: left; background-size: cover;">
          </div>
        </div>
      </div>
    </div>
  </div> 
</div>